<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.DemoMapper">


    <select id="demoSelect"  resultType="java.util.HashMap">
        SELECT * FROM app_log limit 10
    </select>

    <select id="demoPage"  resultType="java.util.HashMap">
        SELECT * FROM app_log order by id desc
    </select>

</mapper>